<!DOCTYPE html>
<html>
  <head>
    <title>Omniauth</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <h1 class = 'title'>OmniAuth Demo</h1>

    <% current_user.each do |current_user|%>
      <div class = 'session' >
        <% if current_user[:user] %>
            <div class = 'user-info-wrapper cell'>
              <% current_user[:user].each do |k,v| %>
                <div class = 'rrow'>
                  <span class = 'table-cell'><%= "#{k}:" %></span>
                  <span class = 'table-cell full'><%= "#{v}" %></span>
                </div>
              <% end %>
            </div>
            <div class = 'space'></div>
            <div class = 'user-avatar-wrapper cell'>
              <%= image_tag current_user[:user]['image_url'], alt: current_user[:user]['name'], class: 'avatar' %>
              <br>
              <%= link_to 'Log out', logout_path(type: "#{current_user[:type]}"), method: :delete %>
            </div>

        <% else %>
            <div class = 'user-info-wrapper cell' ><%= link_to "Login via #{current_user[:type]}", "auth/#{current_user[:type]}" %></div>
        <% end %>
      </div>
    <% end %>
  </body>
</html>
